name: Gerar versão do projeto
run-name: ${{ github.actor }} está gerando uma nova versão do projeto

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: write


jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Instalar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24.10.0'

      - name: Instalar dependências
        run: npm install

      - name: Executar Semantic Release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
